name: Test API

on: pull_request

jobs:
    Continuous-Integration:
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository
          uses: actions/checkout@v3
  
        - name: Set up python
          id: setup-python
          uses: actions/setup-python@v4
          with:
            python-version: '3.11.3'
  
        - name: Install pytest
          run: pip install pytest
        
        - name: List directory contents
          run: ls -la
        
        - name: Run tests
          run: pytest -v